#!/bin/sh
# Networking aliases and functions

alias myip='curl ip.appspot.com'
alias netCons='lsof -i'
alias lsock='sudo lsof -i -P'
alias lsockU='sudo lsof -nP | grep UDP'
alias lsockT='sudo lsof -nP | grep TCP'
alias openPorts='sudo lsof -i | grep LISTEN'

# HTTP debugging
httpHeaders() { curl -I -L "$@"; }
httpDebug() { curl "$@" -o /dev/null -w "dns: %{time_namelookup} connect: %{time_connect} pretransfer: %{time_pretransfer} starttransfer: %{time_starttransfer} total: %{time_total}\n"; }

# Display useful host related information
ii() {
  echo -e "\nYou are logged on ${RED}$HOST"
  echo -e "\nAdditional information:$NC " ; uname -a
  echo -e "\n${RED}Users logged on:$NC " ; w -h
  echo -e "\n${RED}Current date :$NC " ; date
  echo -e "\n${RED}Machine stats :$NC " ; uptime
  echo -e "\n${RED}Public facing IP Address :$NC " ; myip
  echo
}
